.header{
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 20px;
    z-index: 2;
}

.header__left{
    display: flex;
}

.header__left > img {
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}

.header__search{
    padding: 10px;
    height: 22px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: gray;
    background-color: #eef3f8;
}


.header__search > input {
    outline: none;
    border: none;
    background: none;
}


.header__right{
    display: flex;
}

.header__dropdown {
    position: absolute;
    top: 50px; 
    right: 180px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
  }
  
  .header__dropdown button {
    color: white;
    background-color: #0177b7;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .header__dropdown button:hover {
    background-color: #005b8b;
  }